.cwd_label_container {
    background: #8AB4D2;
    height: 28;
    padding: 2;
}

.cwd_label_container:selected {
    background: #B7CEDC;
}

.cwd_label {
    foreground: #8AB4D2;
    color: #000000;
    font-size: 18;
}

.directory_view_column_header {
    background: #FCFCFC;
    border-radius: 1;
    border-color: #A8A8A8;
    border-width: 1;
    color: #000000;
    font-size: 14;
    height: 28;
    padding: 4;
}

.directory_list {
    background: #FFFFFF;
    border-color: #949AA1;
}

list-view-item {
    background: transparent;
    color: #000000;
    font-size: 12;
    padding-left: 4;
    padding-right: 4;
}

list-view-item:selected, list-view-item:active {
    background: #3997F7;
    color: #FF0000;
    padding-top: 2;
    padding-bottom: 2;
}

scroll-bar {
    background: #CCCCCC;
    border-radius: 2;
}